<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/loading.css">
    <link rel="stylesheet" href="../../css/daterangepicker.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">

    <script src="../../libs/jquery.min.js"></script>
    <script src="../../libs/moment.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../libs/moment.js"></script>
    <script src="../../libs/daterangepicker.js"></script>
    <script src="../../libs/loading.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <form class="form-horizontal row" style="width: 100%;">
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="query_mobile">支付账户手机号</label>
                    <div class="col-sm-8">
                        <input id="query_mobile" type="text" class="form-control" v-model="q.mobile" @keyup.enter="query" placeholder="支付账户手机号">
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="query_payment_name">支付方式</label>
                    <div class="col-sm-8">
                        <select id="query_payment_name" class="form-control" v-model="q.paymentName">
                            <option v-for="option in paymentNameOptions" :value="option.value">{{ option.text }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="query_c2c_orderNo">C2C订单编号</label>
                    <div class="col-sm-8">
                        <input id="query_c2c_orderNo" type="text" class="form-control" v-model="q.c2cOrderNo" @keyup.enter="query" placeholder="C2C订单编号">
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="query_orderNo">相互保障订单编号</label>
                    <div class="col-sm-8">
                        <input id="query_orderNo" type="text" class="form-control" v-model="q.orderNo" @keyup.enter="query" placeholder="相互保障订单编号">
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="query_additionalCode">附加码</label>
                    <div class="col-sm-8">
                        <input id="query_additionalCode" type="text" class="form-control" v-model="q.additionalCode" @keyup.enter="query" placeholder="附加码">
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="paid_time">支付时间</label>
                    <div class="col-sm-8">
                        <input id="paid_time" class="form-control" placeholder="支付起止时间" />
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="paid_time">创建时间</label>
                    <div class="col-sm-8">
                        <input id="created_time" class="form-control" placeholder="创建起止时间" />
                    </div>
                </div>
                <!--<div class="form-group col-sm-3">
                    <label class="col-sm-4 control-label" for="query_coin">支付币种</label>
                    <div class="col-sm-8">
                        <select id="query_coin" class="form-control" v-model="q.coinInfo">
                            <option v-for="option in coinOptions" :value="option.value">{{ option.text }}</option>
                        </select>
                    </div>
                </div>-->
                <div class="form-group col-xs-3" style="float: right">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-3" style="float: right">
                        <a class="btn btn-default" @click="query">查询</a>
                    </div>
                </div>
            </form>

        </div>
        <div id="toolbar_btn" style="margin-left: 20px;">
            <a v-if="hasPermission('manager:c2c:order:save')"   class="btn btn-primary btn-sm" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a v-if="hasPermission('manager:c2c:order:update')" class="btn btn-primary btn-sm" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a v-if="hasPermission('manager:c2c:order:confirmPayment')"  class="btn btn-primary btn-sm" @click="confirmPayment">确认收款</a>&nbsp;&nbsp;
            <a v-if="hasPermission('manager:c2c:order:unPaid')"          class="btn btn-primary btn-sm" @click="unPaid">买家未付款</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="../../js/modules/c2c/c2corder.js"></script>

</body>
</html>