<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/daterangepicker.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../libs/moment.js"></script>
    <script src="../../libs/daterangepicker.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <form class="form-horizontal row" style="width: 100%;">
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="query_volunteer">义工</label>
                    <div class="col-sm-8">
                        <select id="query_volunteer" class="form-control" v-model="q.vId">
                            <option v-for="option in volunteerOptions" :value="option.value">{{ option.text }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="query_product">产品</label>
                    <div class="col-sm-8">
                        <select id="query_product" class="form-control" v-model="q.productId">
                            <option v-for="option in productOptions" :value="option.value">{{ option.text }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <label class="col-sm-4 control-label" for="created_time">创建时间</label>
                    <div class="col-sm-8">
                        <input id="created_time" class="form-control" placeholder="创建起止时间"/>
                    </div>
                </div>
                <div class="form-group col-xs-3" style="float: right">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-3" style="float: right">
                        <a class="btn btn-default" @click="query">查询</a>
                    </div>
                </div>
            </form>
        </div>
        <div id="toolbar_btn" style="margin-left: 20px;">
            <a v-if="hasPermission('manager:c2c:productOrder:save')" class="btn btn-primary btn-sm" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>&nbsp;&nbsp;
            <a v-if="hasPermission('manager:c2c:productOrder:update')" class="btn btn-primary btn-sm" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>&nbsp;&nbsp;
            <a v-if="hasPermission('manager:c2c:productOrder:delete')" class="btn btn-primary btn-sm" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading"><strong>{{title}}</strong></div>
        <form class="form-horizontal" style="width: 30%;">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="product">产品</label>
                <div class="col-sm-8">
                    <select id="product" class="form-control" v-model="productOrder.product.id" @change="chooseProduct(productOrder.product.id)">
                        <option v-for="option in productOptions" :value="option.value">{{ option.text }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="volunteer">义工</label>
                <div class="col-sm-8">
                    <select id="volunteer" class="form-control" v-model="productOrder.volunteer.id">
                        <option v-for="option in volunteerOptions" :value="option.value">{{ option.text }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="totalAmount">总金额</label>
                <div class="col-sm-8">
                    <input id="totalAmount" type="text" class="form-control" v-model="totalAmount" placeholder="总金额"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="price">价格</label>
                <div class="col-sm-8">
                    <input id="price" type="text" class="form-control" v-model="productOrder.price" readonly placeholder="价格"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="number">数量</label>
                <div class="col-sm-8">
                    <input id="number" type="text" class="form-control" v-model="productOrder.number" readonly placeholder="数量"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="priceUnit">价格单位</label>
                <div class="col-sm-8">
                    <select id="priceUnit" class="form-control" v-model="productOrder.priceUnit">
                        <option v-for="option in priceUnitOptions" :value="option.value">{{ option.text }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-8">
                    <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定" />&nbsp;&nbsp;
                    <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../../js/modules/c2c/productOrder.js"></script>
</body>
</html>